.sec-create .form-create{
  width: 800px;
  margin: 0 auto;
}
.sec-create .form-create .form-ttl{
  font-size: 18px;
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  margin: 10px 30px 0 0;
  float: left;
  width:200px ;
}
.sec-create .form-create .input-gp{
  width: 400px;
  float: right;
}
.sec-create .form-create .form-input{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  outline-color: #ccc;
  width: 400px;
}
.sec-create .form-create .box{
  margin-bottom: 20px;
}

.sec-create .form-create .form-input::placeholder{
  padding-left: 20px;
}
