
.sec-login {
  padding: 150px 0;
}
.sec-login .cmn-ttl {
  text-align: left;
  color: #ffffff;
}
.sec-login .login-box{
  width: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  background-color: rgba(114, 88, 167,0.9);
  padding:0 20px;
  border-radius: 10px;
}
.sec-login .login-form{
  margin: 30px 0;
}
.sec-login .login-form .formbox .form-input{
width: 100%;
padding: 10px 0 10px 20px;
border-radius: 10px;
background-color: rgba(255, 255, 255,0.6);
border:1px solid rgba(255, 255, 255,0.6) ;
outline: rgba(110, 145, 138,0.3);
}
.sec-login .login-form .formbox{
  margin-bottom: 20px;
}
.sec-login .login-form .form-input::placeholder{
  color: #ffffff;
}
.sec-login .login-form .cmn-btn{
  width: 100px;
  margin-left: 188px;
  background-color: rgba(255, 255, 255,0.6) ;
  padding: 10px;
  border: 1px solid #ffffff;
  margin-top: 10px;
}
.sec-login .login-form .cmn-btn:hover{
  color: rgb(114, 88, 167,);
	border: 1px solid rgba(114, 88, 167,0.6);
  background-color: #ffffff;

}
.sec-login .txt-box {
  margin: 10px 0 20px;
}
.sec-login .txt-box .forgot{
  margin-right: 220px;
}
